.quote {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-style: italic;
  color: var(--gray-medium);
}

.quote::before,
.quote::after {
  content: '"';
  font-size: 32px;
  font-weight: 700;
  font-family: cursive;
  display: inline-block;
  padding: 0 15px;
  color: var(--gray-medium);
}

.quote::after {
  transform: rotate(180deg);
}

.matched-rule {
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
}

.box-shadow {
  box-shadow: var(--shadow-primary);
}

.text-white {
  color: white;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

.reflection-input {
  border: none;
  border-radius: var(--border-radius-large);
  background: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.reflection-input textarea {
  line-height: 1.5;
  height: 300px;
  resize: none;
}

.reflection-input textarea:focus {
  outline: none;
}

.character-count-met {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -10px;
}

.options-button {
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  align-items: center;
  transition: background 250ms;
  border-radius: var(--border-radius-large);
}

.options-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.options-button img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.activity-empty-state {
  font-size: 14px;
  color: gray;
}

.note {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.note p {
  line-height: 1.5;
}

.note footer {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.note-delete {
  padding: 10px;
  font-size: 12px;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  cursor: pointer;
  transition: color 150ms;
}

.note-delete:hover {
  color: #222;
}

.note p + footer {
  margin-top: 10px;
}

.note-time {
  font-size: 10px;
  color: var(--gray-medium);
}

.note-indicator {
  height: 20px;
  width: 20px;
  background: var(--gradient-green);
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.content-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.rule-hit {
  background: var(--background);
  padding: 3px 6px;
  border-radius: 10px;
  font-size: 10px;
  margin-left: auto;
}

.note-content {
  font-size: 12px;
}
