/*
  ? What's the default inherit for fonts? 
  ? How should we set them?
  ? Is it best to do box-sizing on the `*` element or?
*/

body {
  position: relative;
  padding: 0;
  margin: 0;
}

.box-shadow {
  box-shadow: var(--shadow-primary);
}

.button {
  border-radius: var(--border-radius-large);
  border: none;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  flex: 1;
  margin: 0 10px;
}

.box-shadow--hover {
  transition: 150ms box-shadow ease-out;
}

.box-shadow--hover:hover {
  box-shadow: var(--shadow-hover);
}

.button-blue {
  background: var(--gradient-blue);
}

.button-red {
  background: var(--gradient-red);
}

.button-green {
  background: var(--gradient-green);
}

.text-white {
  color: white;
}

.bold {
  font-weight: 700;
}

.logo {
  margin-bottom: 50px;
  font-size: 22px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reflection-input {
  border: none;
  border-radius: var(--border-radius-large);
  height: 300px;
  background: white;
  resize: none;
  min-width: 550px;
  padding: 20px;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -10px;
}

.options-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  padding: 15px 20px;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  transition: background 250ms;
  border-radius: var(--border-radius-large);
  background: rgba(255, 255, 255, 0.3);
}

.options-button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.options-button img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

button:disabled {
  /* opacity: 0.75; */
  cursor: not-allowed;
  background: linear-gradient(#555, #222);
  color: white;
}
