body {
  background-color: var(--blue-primary);
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-bottom: 50px;
}

.header img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.header aside {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 42px;
  font-weight: 700;
}

.label {
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.option-container {
  max-width: 550px;
  margin: 40px auto 0;
}

.bubble {
  height: 44px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.bubble-delete-button {
  background: none;
  outline: none;
  border: none;
  color: var(--gray-light);
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  transition: color 250ms ease-in-out;
}

.bubble-delete-button:hover {
  color: var(--gray-dark);
}

.website-add-container {
  background: white;
  padding: 0;
}

.website-input {
  padding: 0 20px;
  height: 100%;
  background: none;
  width: 100%;
  font-size: 16px;
}

.website-input::placeholder {
  color: var(--gray-light);
}

.website-input:active,
.website-input:focus {
  outline: none;
}

/* ! replace with button class */
.website-button {
  width: 134px;
  height: 44px;
  border-radius: var(--border-radius-large);
  background: var(--gradient-green);
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  justify-content: flex-start;
  width: 60px;
  background: #ccc;
  border-radius: 15px;
  padding: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.toggle-container--enabled {
  justify-content: flex-end;
}

.toggle-circle {
  background: gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: background 150ms;
}

.toggle-container--enabled .toggle-circle {
  /* TODO: use var */
  background: var(--gradient-green);
}
