* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

/*
  Override user-agent styles
*/
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
span {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
}

textarea,
input,
button {
  border: none;
}
