.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--gray-medium);
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.section-header {
  color: var(--gray-medium);
  font-weight: 700;
  font-size: 16px;
  margin: 40px 0 20px;
}
