body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--gray-medium);
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.section-header {
  color: var(--gray-medium);
  font-weight: 700;
  font-size: 16px;
  margin: 40px 0 20px;
}

.button {
  border-radius: var(--border-radius-large);
  border: none;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 10px;
  text-decoration: none;
}

.box-shadow--hover {
  transition: 150ms box-shadow ease-out;
}

.box-shadow--hover:hover {
  box-shadow: var(--shadow-hover);
}

.button-blue {
  background: var(--gradient-blue);
}

.button-orange {
  background: var(--gradient-orange);
}

.button-red {
  background: var(--gradient-red);
}

.button-green {
  background: var(--gradient-green);
  color: white;
  font-weight: 700;
  width: 100%;
}

.button--disabled {
  cursor: not-allowed;
  background: var(--gray-light);
}
