<html>

<head>
  <title>Mindfully</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/variables.css">
  <link rel="stylesheet" type="text/css" href="../styles/mindfulness-check.css" />
</head>

<body>
  <main class="container">
    <button class="options-button text-white" data-id="options-button">
      <img src="../assets/options_icon.svg" />
      <span>Options</span>
    </button>

    <h1 class="text-white logo bold">Mindfully</h1>

    <form>
      <textarea type="text" placeholder="Write about why you want to use view this website right now..."
        class="reflection-input box-shadow"></textarea>

      <footer class="button-container">
        <button class="button text-white bold button-blue box-shadow box-shadow--hover" data-id="disable-button"
          disabled="true">Disable
          Rule</button>
        <button class="button text-white bold button-green box-shadow box-shadow--hover"
          data-id="resist-button">Resist</button>
      </footer>
    </form>
  </main>

  <script src="../../dist/mindfulnessCheck.js" type="text/javascript"></script>
</body>

</html>