<!DOCTYPE html>
<html>

<head>
  <title>Mindfully - Mindful Check</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/variables.css">
  <link rel="stylesheet" href="../styles/shared.css">
  <link rel="stylesheet" type="text/css" href="../styles/mindfulness-check.css" />
  <link rel="icon" type="image/x-icon" href="../assets/mindfully.png">
</head>

<body>
  <header class="header">
    <h1 class="logo">
      Mindfully
    </h1>

    <button class="options-button" data-id="optionsButton">
      <span>Rules</span>
    </button>
  </header>

  <p data-id="quote" class="quote"></p>

  <main class="container">
    <form class="reflection-input">
      <textarea type="text" placeholder="Write about why you want to use view this website right now..."
        data-id="noteInput"></textarea>

      <footer class="button-container">
        <button class="button text-white bold button-green" data-id="resistButton">Resist</button>
      </footer>
    </form>

    <h2 class="section-header">Activity</h2>
    <div data-id="noteContainer" class="note-container">
    </div>
  </main>

  <script src="../../dist/mindfulnessCheck.js" type="text/javascript"></script>
</body>

</html>