<!DOCTYPE html>
<html>

<head>
  <title>Mindfully - Rules</title>
  <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
  <link rel="stylesheet" href="../styles/variables.css" type="text/css" />
  <link rel="stylesheet" href="../styles/options.css" type="text/css" />
</head>

<body>
  <main class="option-container">
    <header class="header">
      <h1 class="logo">Mindfully</h1>

      <aside>
        <span>Rules</span>
      </aside>
    </header>

    <h3 class="label">Rules</h3>

    <form class="website-add-container bubble" data-id="websiteAdditionForm">
      <input type="text" placeholder="Add a new website here..." class="website-input" name="website-matcher"
        data-id="websiteMatcherInput" />
      <button class="website-button">Add</button>
    </form>

    <div class="website-container" data-id="websites">
    </div>
  </main>

  <script src="../../dist/options.js"></script>
</body>

</html>