<!DOCTYPE html>
<html>

<head>
  <title>Mindfully - Options</title>
  <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
  <link rel="stylesheet" href="../styles/variables.css" type="text/css" />
  <link rel="stylesheet" href="../styles/options.css" type="text/css" />
</head>

<body>
  <main class="option-container">
    <header class="header">
      <h1 class="logo">Mindfully</h1>
      <h2>Options</h2>
    </header>

    <h3 class="label">Websites</h3>

    <form class="website-add-container bubble" data-id="website-addition-form">
      <input type="text" placeholder="Add a new website here..." class="website-input" name="website-matcher"
        data-id="website-matcher-input" />
      <button class="website-button">Add</button>
    </form>

    <div class="website-container" data-id="websites">
    </div>


  </main>

  <script src="../../dist/options.js"></script>
</body>

</html>